.body_cl {
  background: #222D32;
}
.container .panel-primary {
  margin-top: 150px;
}
.container .panel-heading {
  background: #337AB7;
}
.container .panel-heading .panel-title {
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-size: 20px;
}
